*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;

}

main{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:relative;
    background-position: center top; 
}



.celular{
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-size: 200px 400px;
    width: 200px;
    height: 400px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.botoes{
    text-align: right;
}

img{
    background-image: url(pacote-d013/imagens/logo-home.jpg);
    background-size: 35px;
    width: 35px;
    height: 35px;
    background: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 8px;
    box-shadow: 3px 3px 3px black;
    margin-bottom: 8px;
    margin-right: 18px;
}

img:hover{
    border: 2px solid white;
    transform: translateY(-5px);
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.7);
}



iframe#tela{
    
    width: 173px;
    height: 301px;
    position: relative;
    top: 51px;
    left: 14px;
    background-size: cover;
}