.quadrado{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
}


h1{
    color: red;
}
#q1{
    background-image: url(imagens/wallpaper001.jpg);
    background-size: 50px;
    background-repeat: no-repeat; 
}
#q2{
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: repeat-x;
    background-size: 100px;
}

#q3{
    background-image: url(imagens/wallpaper004.jpg);
    background-size: 100px;
    background-repeat: repeat-y;
}



.retangulo{
    border: 5px solid black;
    width: 80%;
    height: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#r1{
    background-image: url(imagens/wallpaper003.jpg);
    background-position: left center;
}
#r2{
    background-image: url(imagens/wallpaper003.jpg);
    background-position: center center;

}
#r3{
    background-image: url(imagens/wallpaper003.jpg);
    background-position: right center;
}

.usar_cover{

    border: 5px solid black;
    height: 1000px;
    width: 700px;
    margin: auto;
    background-image:url(imagens/wallpaper003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
