@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');





*{
    margin:0;
    padding: 0;
    text-decoration: none;
}



.menu {
    background-color: black;
    width: 100%;
    min-height: 200px;
    
}

.f_branco1 {
    background-color: white;
    width: 100%;
    min-height: 600px;

}

.f_imagem1 {
    width: 100%;
    min-height: 600px;
    background-image: url(imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: black;
}

.caixa01{
    background-color:black;
    width: 600px;
    height:600px;
    margin: 20px;

}






.f_branco2 {
    background-color: white;
    width: 100%;
    min-height: 600px;

}

.f_imagem2 {
    width: 100%;
    min-height: 600px;
    background-image: url(imagens/background002.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;

}

.f_branco3 {
background-color: white;

}

.rodape {
    background-color: black;

}

.titulo{
    display: inline;

}





h1{
    color: white;
    font-family: "Passion One";
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
}
.letra{
    font-family: "Passion One";
    font-size: 90px;
}
h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;

}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}
a:hover{
    text-decoration: underline;
}

h3{
    color: black;
    font-size: 40px;
    font-family: "Sriracha";
    font-weight: lighter;
    padding: 40px;

}

h4{
    color: white;
    font-size: 40px;
    font-family: "Sriracha";
    font-weight: lighter;
    padding: 40px;
    


}

p{
    color: white;
    text-align: center;
}