/* Paragrafos */
*{
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

h1{
    text-align: center;
    padding: 20px;
    
}
h2{
    text-align: center;
    font-size: 1rem;
}
h3{
    margin: 10px;
}
h4{
    color: black;
    padding-left: 20px;
}

h5{
    background-color: #009c60;
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    color: white;
   
    font-size: 16px;
    
}


p{
    color: black;
    padding: 20px;
    text-indent: 40px;
}

/* Caixas */

body{
    background-color: #009c60aa;
    
}
main{
    color: black;
}

.caixinha1{
    background-color: #153629dd;
    box-sizing: border-box;
}

.MENU{
    display: flex;
    flex-direction: row;
}

.caixaprincipal{
    margin: auto;
    background-color: white;
    text-align: center;
    width: 60%;
    min-height: 250vh;
    justify-content: center;
    text-align: justify;
    padding-bottom: 0;
    margin-bottom: 0;
}
.caixinha2{
    background-color:#153629;
    margin: 0;
    padding: 0;
    
}
.caixinha3{

    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    border-radius: 20px;
    padding: 0px;
    background-color: #009c60aa;
    width: 96%;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
}
li{
    color: black;
}
.ladoalado{
    display: flex;
    flex-direction: row;
    padding: auto;
}
.ladoalado div{
    margin: auto;
}
img{
    width: 100%;
    margin: auto;
}
.imagem2{
    width: 95%;
    margin: auto;
    display: block;
}

.imagem3{
    width: 50%; 
    margin: auto;
    text-align: center;
    display: block;
}

iframe{
    width: 90%;
    margin: auto;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px; 
}

.caixavideo{
    background-color: #153629dd;
    width: 100%;
    height: auto;
}