/* Paragrafos */
*{
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    margin: 10px;
}

p{
    color: black;
}

/* Caixas */

body{
    background-color: #009C5F;
}

.caixinha1{
    background-color: #153629;
    box-sizing: border-box;
}

.MENU{
    display: flex;
    flex-direction: row;
}