/* Paragrafos */
*{
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

h1{
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
}
h3{
    margin: 10px;
}
h4{
    color: black;
}

p{
    color: black;
}

/* Caixas */

body{
    background-color: #009c60aa;
}
main{
    color: black;
}

.caixinha1{
    background-color: #153629;
    box-sizing: border-box;
}

.MENU{
    display: flex;
    flex-direction: row;
}

.caixaprincipal{
    margin: auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 60%;
    min-height: 250vh;
    justify-content: center;
    text-align: justify;
}
.caixinha2{
    background-color:#153629;
}
.caixinha3{
    margin: auto;
    padding: 20px;
    background-color: #009c60aa;
    min-width: 85%;
    min-height: 30vh;
    text-align: center;
    justify-content: center;
    text-align: justify;
}
li{
    color: black;
}
.ladoalado{
    display: flex;
    flex-direction: row;
    padding: auto;
}
.ladoalado div{
    margin: auto;
}







img{
    width: 100%;
    margin: auto;
}

.imagem3{
    width: 50%; 
    margin: auto;
    text-align: center;
    display: block;
}

iframe{
    width: 90%;
    margin: auto;
    
    
}

.caixavideo{
    background-color: #153629;
    width: auto;
    height: auto;
    
}